body {
    background-image: linear-gradient(white, #1177FF);
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    font-size: 25px;
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin-right: 50px;
    
}

.logo img {
    width: 80px;
    height: auto;
}

.nav-bar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.nav-bar a{
    display: flex;
    text-decoration: none;
    color: black;
    padding: 0 15px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-bar a:hover {
    color: #007BFF;
    transform: scale(1.1);
}

.aboutme{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 50px;
    flex-direction: column;
    
}

.infos{
    font-size: 20px;
    margin-top: 5%;  
    max-width: 700px;
    line-height: 1.2;
}

.tools {
    display: flex;
    flex-wrap: wrap;          
    gap: 20px;        
}

.tools ul {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
}

.tools img {
   /* border: 2px solid black;
    border-radius: 5px; */
    width: 50px;
    height: auto;
    flex-direction: row;
    transition: transform 0.2s;
}

.tools img:hover{
    transform: scale(1.1);

}