body {
    background: linear-gradient(-45deg, #1E90FF, #90E6FC, #28A7FF, #A8EEFF);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    font-style: italic;
    font-weight: bold;
}

.header {
    font-weight: bold;
}

.sidebar hr{
    border: 1px solid #000000;
    margin: 20px 0;
}

.sidebar {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    height: 100%;
    color: black;
    font-size: 20px;
}

.header{
    margin-bottom: 25px;
    margin-top: 25;
    font-size: 30px;
    font-style: bold;
}

.sidebar a {
    text-decoration: none;
    color: black;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sub-menu li{
    margin-top: 12px;
}

.content {
    padding: 20px;
}

.content-management {
    margin-bottom: 20px;
}

.arrow {
    display: flex;
    gap: 10px;
    align-items: center;
}

.bi-chevron-down {
    transition: transform 0.3s ease;
}

a.collapsed .bi-chevron-down {
    transform: rotate(0deg);
}

/* When menu open */
a:not(.collapsed) .bi-chevron-down {
    transform: rotate(180deg);
}

.logout-btn {   
    background-color: #90E6FC;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    bottom: 30px;
    position: fixed;
    width: auto;
}

.logout-btn:hover {
    background-color: #28A7FF;
}


@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}